* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #14A7FF;
}

body {
    font-size: 100%;
    font-family: monospace, monospace;
}

main {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: 600px;
}

.player {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}

.player__tile {
    width: 100%;
    height: 300px;
    display: flex;
    margin: 0 auto;
    color: #000000;
    max-width: 400px;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: inset 3px 3px 0 #000, 
                inset -3px 3px 0 black, 
                inset -3px -3px 0 black, 
                inset 3px -3px 0 black;
}

.player-2 {
    color: #FFFFFF;
    background-color: #2D2C2C;
}

.p1-minutes,
.p2-minutes {
    font-size: 6rem;
    font-weight: bold;
}

.timer__start-bttn, 
.timer__reset-bttn {
    width: 100%;
    height: 50px;
    margin: 0 auto 5px auto;
    display: block;
    color: #020202;
    max-width: 400px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    border: 3px solid #000000;
}

.timer__start-bttn:hover, 
.timer__reset-bttn:hover {
    color: #FFFFFF;
    background-color: #02219B;
}

@media only screen and (orientation: landscape) {
    .player {
        margin: 5px auto;
        max-width: 800px;
        flex-direction: row;
    }
    .player__tile {
        max-height: 300px;
    }
    .p1-minutes,
    .p2-minutes {
        font-size: 5rem;
    }
    .timer__buttons {
        display: flex;
    }
    .timer__start-bttn, 
    .timer__reset-bttn {
        display: block;
        margin: 0 auto 5px auto;
    }
}

@media only screen and (min-width: 400px) {
    .player__tile {
        height: 400px;
    }
    .p1-minutes,
    .p2-minutes {
        font-size: 6rem;
    }
}

@media only screen and (min-width: 850px) {
    .player {
        margin: 5px auto;
        max-width: 800px;
        flex-direction: row;
    }
    .timer__buttons {
        display: flex;
        margin: 0 auto;
        max-width: 800px;
    }
}
